doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title HMIS

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans', type='text/css')
    link(rel='stylesheet', type='text/css', href='css/lib/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/lib/pikaday.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')

    script(type='text/javascript', src='js/lib/jquery.min.js')
    script(type='text/javascript', src='js/lib/bootstrap.min.js')
    script(type='text/javascript', src='js/lib/moment.js')
    script(type='text/javascript', src='js/lib/pikaday.js')
    script(type='text/javascript', src='js/lib/FileSaver.js/FileSaver.min.js')
    script(type='text/javascript', src='js/lib/Blob.js/Blob.min.js')
    script(type='text/javascript', src='js/lib/jszip/dist/jszip.min.js')
    script(type='text/javascript', src='js/lib/sampleData.js')
    script(type='text/javascript', src='js/papaparse.js')
    script(type='text/javascript', src='js/index.js')

  body
    .container
      div#logo
        img(src='img/OpenHMIS-logo.jpg')
      div#search
        h1 Client Search
        form#searchForm
          div.form-group
            input#searchField.form-control(name='searchField', type='text', placeholder='search by first or last name')
            input#firstName(name='firstName', type='hidden')
            input#lastName(name='lastName', type='hidden')
          div#results
          div.buttonBox
            button#addNewClient(type='button')
            button#exportAll(type='button')
            form(action="/upload", method="post", enctype="multipart/form-data" id="importForm")
              input#import_file(type='file' name="import.csv" style="opacity:0; height: 5px;")
              button#importAll(type='button')
      div#intake
        h1 Client Intake
        form#intakeForm
          div#top
            div#topLabels
              div.label.pct50 First name
              div.label.pct50 Last name
            div#pictureFrame
            div#intakeSummary
              input.pct50#firstName(name='firstName', type='text', placeholder='first name')
              input.pct50#lastName(name='lastName', type='text', placeholder='last name')
              div.pct67
                div.label DOB:
                div#formattedDOB
              div.pct33#datepicker
                img(src='img/Farm-Fresh_calendar_view_month.png')
          div.label.pct100 SSN
          input.pct100#ssn(name='SSN', type='text', placeholder='SSN')
          div#selectBoxes
            .label.pct50 gender
            .label.pct50 ethnicity
            .selectBox.pct50
              select#gender(name='gender')
                option(value='99') Data not collected
                option(value='1') Male
                option(value='0') Female
                option(value='2') Transgender Male to Female
                option(value='3') Transgender Female to Male
                option(value='4') Other
                option(value='8') Client doesn't know
                option(value='9') Client Refused
            .selectBox.pct50
              select#ethnicity(name='ethnicity')
                option(value='99') Data not collected
                option(value='1') Hispanic/Latino
                option(value='0') Non-Hispanic/Non-Latino
                option(value='8') Client doesn't know
                option(value='9') Client Refused
          input#index(name='index', type='hidden')
          input#picture(name='picture', type='hidden')
          input#dob(name='DOB', type='hidden')
          .label.pct100 race
          div.pct50
            label
            input.race#asian(name='race[]' value='5' type='checkbox' )
            | Asian
            br
            label
            input.race#amIndAKNative(name='race[]' value='7' type='checkbox' )
            | American Indian or Alaska Native
            br
            label
            input.race#nativeHIOtherPacific(name='race[]' value='9' type='checkbox' )
            | Native Hawaiian or Other Pacific Islander
            br
            label
            input.race.single_checkbox#missing(name='race[]' value='99' type='checkbox' )
            | Data not collected
            br
          div.pct50
            label
            input.race#blackAfAmerican(name='race[]' value='6' type='checkbox' )
            | Black or African American
            br
            label
            input.race#white(name='race[]' value='8' type='checkbox' )
            | White
            br
            label
            input.race#other(name='race[]' value='14' type='checkbox' )
            | Other
            br
            label
            input.race.single_checkbox#unknown(name='race[]' value='15' type='checkbox' )
            | Client doesn't know
            br
            label
            input.race.single_checkbox#refused(name='race[]' value='16' type='checkbox' )
            | Client refused
            br
            input#entityIndex(name='entityIndex', type='hidden')
          div.buttonBox
            button#backToResults(type='button') Back to Results
            button#revertChanges(type='button') Revert Changes
            button#cancel(type='button') Cancel
            button#saveChanges(type='button') Save Changes
